#log {
    height: 64px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    color: #f00;
    background: #FFF;
    font-size: 12px;
    line-height: 16px;
    word-break: break-all;
    z-index: 6666;
    padding: 8px 16px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-top: 2px solid #AAA;
    -webkit-overflow-scrolling: touch;
}